.addUnit {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.431);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
 
  
  &__form {
    border-radius: 25px;
    background: $b-400;
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    &__att {
      display: flex;
      justify-content:space-between;
      width: 100%;
    }
    &__input{
      margin-block: 15px;
      margin-right: 50px;
      outline: none;
      border-radius: 5px;
      &:focus {
        border: 3px $e-1000 solid;
        border-radius: 5px;
      }
      
    }
    &__checkbox{
      margin-right: 160px;
      width: 50px;
      height: 50px;
      outline: 2px $e-1000 solid !important;

    }
    &__title{
      font-family: $font1;
      color: $e-1000;
    }
    &__label {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 50px;
      color: $e-1000;
    }
    &__buttons {
      margin: 30px;
      button {
        width: 60px;
        height: 40px;
        margin-inline: 50px;
        color: $e-1000;
        border-radius: 5spx;
        &:active{
          background-color: $a-100;
        }
      }
    }

  }

}