.character {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $dark-blue;
    padding: 15px;
    margin: 10px;
  }
  &__name {
    width: 200px;
    color: $skin;
  }
  &__att {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2{
      width: 75px;
    }

  }
  &__buttonBox {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }
  &__ul {
    padding: 20px;

  }
}

.alive {
  color: $green;
}

.dead {
  color: $red;
  font-style: italic;
}
.low {
  color: white;
  background-color: $red;
}


.btn-value {
  height: 30px;
  width: 30px;
  font-size: 20px;
  background-color: $skin;
  margin: 5px;
  color: $dark-blue;
}
