@import "mixins";
.character {
  display: flex;
  align-items: center;
  &__removeButton{
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 5px;

  }
  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin: 10px;
    width: 85%;

  }
  &__name {
    user-select: none;
    width: 25vw;
    color: $a-100;
    padding-inline: 30px;
    margin: 0;
padding: 20px;
    text-align: center;
  }
  &__att {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
  }
  &__buttonBox {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    &__valueBtn {
      height: 30px;
      width: 30px;
      font-size: 20px;
      margin: 5px;

    }
  }
  &__ul {

  }
}

