@import "mixins";
.character {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $color3;
    padding: 15px;
    margin: 10px;
    &:focus {
      background-color: $color2;

    }

  }
  &__name {
    width: 200px;
    color: $color1;
  }
  &__att {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2{
      width: 75px;
    }

  }
  &__buttonBox {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }
  &__ul {
    padding: 20px;

  }
}

.alive {
  color: $color2;
  @include text1;
}

.dead {
  color: $color6;
  font-style: italic;
}
.low {
  color: white;
  background-color: $color6;
}
.btn-value {
  height: 30px;
  width: 30px;
  font-size: 20px;
  margin: 5px;
  @include button2


}
