@import "mixins";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    @include text2;

  }
  &__addUnit {
    width: 100px;
    height: 50px;
    @include button2;
    @include text1;
    font-size: large;
  }
  &__characters {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}