@import "variables";
@mixin text1{
  font-family: $font1;
  color: $color5;
}
@mixin text2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $color2;
}
@mixin button1 {
background: $color1;
color: $color5;
}
@mixin button2 {
background: $color2;
color: $color5;
border: 2px $color1 solid;
}