@import "variables";
@mixin text1{
  font-family: $font1;
  color: $e-1000;
}
@mixin text2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $b-400;
}
@mixin button1 {
background: $a-100;
color: $e-1000;
}
@mixin button2 {
background: $b-400;
color: $e-1000;
border: 2px $b-200 solid;
}