$a-100: hsla(30, 90%, 96%, 1);
$b-200: hsla(106, 25%, 70%, 1);
$b-400: hsla(88, 33%, 42%, 1);
$c-100: hsl(348, 37%, 70%);
$c-200: hsl(349, 41%, 57%);
$c-400:hsla(349, 64%, 39%, 1);
$d-400: hsla(27, 49%, 49%, 1);
$e-1000: hsla(56, 66%, 8%, 1);



$font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

